.formNovoCartao {
	font-size: 1rem;
	margin: 0 auto 2em;
	background: rgba(0,0,0,.15);
	padding-top: 1.5em;
	padding-bottom: 1em;
}

.formNovoCartao-conteudo {
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	line-height: 1.5;
	display: block;
	margin: 0 auto;
	padding: .5em;
	max-width: 35em;
	height: 1.5em;
	background: #FFF;
	overflow: auto;
	border: none;
	resize: none;
	width: 100%;
	transition: height .1s linear;
}

.formNovoCartao-conteudo:focus {
	height: 7em
}

.formNovoCartao-salvar {
	font-size: 1em;
	border: none;
	display: block;
	margin: 1em auto 0;
	padding: .35em 1em;
	background: rgba(70,20,170,.25);
}
