.mural {
	font-size: 1.2rem;
}

@media (min-width: 560px){
	.mural {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	.muralLinha {
		flex-direction: column;
	}

	.muralLinha .cartao {
		flex-basis: auto;
		width: auto;
	}
}

@media (min-width: 900px){
	.mural {
		align-items: center;
		font-size: 1.3rem;
	}
}
